<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<div class="article-entry">
  <h2>{{ object.title }}</h2>
  <p>{{ object.author }} от {{ object.date }}</p>
  <p>{{ object.body }}</p>
</div>

<p><a href="{% url 'article_edit' article.pk %}">Редактировать</a> | <a href="{% url 'article_delete' article.pk %}">Удалить</a></p>
<p>Вернуться ко <a href="{% url 'article_list' %}">всем статьям</a></p>
{% endblock %}
</body>
</html>