<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Причёски</title>
</head>
<body>
    {% extends 'base.html' %}
        {% block content %}

            {% if user.is_superuser %}
                <p class="navbar-brand">Панель администратора</p>
                <a class="btn btn-success" href="{% url 'haircut_new' %}">Добавить</a>
            {% endif %}

            <h1 class="display-4 text-center m-4">Причёски</h1>
            <div class="row">
                {% for haircut in object_list %}

                    <div id="carousel123" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="10">#доделать время вращения
                                <img class="card-img-top" src="{{ haircut.image1 }}" alt="Изображение причёски"
                                    style="object-fit:cover; width:25rem; height:25rem;"
                                    onclick="window.location.href = '{% url 'haircut_detail' haircut.pk %}'">
                            </div>
                            <div class="carousel-item">
                                <img class="card-img-top" src="{{ haircut.image2 }}" alt="Изображение причёски"
                                    style="object-fit:cover; width:25rem; height:25rem;"
                                    onclick="window.location.href = '{% url 'haircut_detail' haircut.pk %}'">
                            </div>
                            <div class="carousel-item">
                                <img class="card-img-top" src="{{ haircut.image3 }}" alt="Изображение причёски"
                                    style="object-fit:cover; width:25rem; height:25rem;"
                                    onclick="window.location.href = '{% url 'haircut_detail' haircut.pk %}'">
                            </div>
                        </div>
                    </div>

                    <div class="card bg-color m-4" style="width:25rem;">
                        <img class="card-img-top" src="{{ haircut.image1 }}" alt="Изображение причёски"
                             style="object-fit:cover; width:25rem; height:25rem;"
                             onclick="window.location.href = '{% url 'haircut_detail' haircut.pk %}'">
                        <div class="card-body" style="width:25rem;">
                            <h5 class="card-title pricing-card-title" style="float: right;">{{ haircut.price }}₽</h5>
                            <h5 class="card-title">{{ haircut.title }}</h5>
                            <p class="card-text">{{ haircut.description }}</p>
                            <a href="{% url 'haircut_detail' haircut.pk %}" class="btn btn-primary">Посмотреть</a>
                            <a href="{% url 'haircut_detail' haircut.pk %}" class="btn btn-success">Заказать</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock content %}
</body>
</html>