<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мастера</title>
</head>
<body>
    {% extends 'base.html' %}
        {% block content %}

            {% if user.is_superuser %}
                <p class="navbar-brand">Панель администратора</p>
                <a class="btn btn-success" href="{% url 'master_new' %}">Добавить</a>
            {% endif %}

            <h1 class="display-4 text-center m-4">Мастера</h1>
            <div class="row">
                {% for master in object_list %}
                    <div class="card bg-color m-4" style="width:25rem;">
                        <div id="carousel123" class="carousel slide carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                {% if master.photo1 != None %}
                                    <div class="carousel-item active" data-interval="1000">
                                        <img class="card-img-top" src="{{ master.photo1 }}" alt="Изображение мастера 1"
                                             style="object-fit:cover; width:25rem; height:25rem;"
                                             onclick="window.location.href = '{% url 'master_detail' master.pk %}'">
                                    </div>
                                {% endif %}
                                {% if master.photo2 != None %}
                                    <div class="carousel-item" data-interval="1000">
                                        <img class="card-img-top" src="{{ master.photo2 }}" alt="Изображение мастера 2"
                                             style="object-fit:cover; width:25rem; height:25rem;"
                                             onclick="window.location.href = '{% url 'master_detail' master.pk %}'">
                                    </div>
                                {% endif %}
                                {% if master.photo3 != None %}
                                    <div class="carousel-item" data-interval="1000">
                                        <img class="card-img-top" src="{{ master.photo3 }}" alt="Изображение мастера 3"
                                             style="object-fit:cover; width:25rem; height:25rem;"
                                             onclick="window.location.href = '{% url 'master_detail' master.pk %}'">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body" style="width:25rem;">
                            <h3 class="card-title">{{ master.user.first_name }} {{ master.user.last_name }}</h3>
                            <p class="card-text">{{ master.description }}</p>
                            <a href="{% url 'master_detail' master.pk %}" class="btn btn-primary">Посмотреть</a>
                            <a href="{% url 'appointment_new_params' master.pk 0 %}" class="btn btn-success">Записаться на стрижку</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock content %}
</body>
</html>