<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Новый мастер</title>
</head>
<body>
  {% extends 'base.html' %}
    {% block content %}
      {% if user.is_superuser %}
        <h1>Новый мастер</h1>
        <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit" value="Сохранить"/>
        </form>
      {% else %}
        <h1>У вас нет прав администратора</h1>
        <a class="btn btn-secondary" href="{% url 'master_list' %}">Обратно к списку</a>
      {% endif %}
    {% endblock content %}
</body>
</html>