<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}
        {% block content %}
        <h1>Удалить парикмахера</h1>
        <form action="" method="post">
            {% csrf_token %}
            <p>Вы точно хотите удалить парикмахера "{{ master.user.first_name }} {{ master.user.last_name }}"?</p>
            <input type="submit" value="Удалить" class="btn btn-danger"/>
        </form>
    {% endblock content %}
</body>
</html>