<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Причёски</title>
</head>
<body>
    {% extends 'base.html' %}
        {% block content %}

            {% if user.is_superuser %}
                <p class="navbar-brand">Панель администратора</p>
                <a class="btn btn-success" href="{% url 'master_new' %}">Добавить</a>
            {% endif %}

            <h1 class="display-4 text-center m-4">Мастера</h1>
            <div class="row">
                {% for master in object_list %}
                    <div class="card bg-color m-4" style="width:25rem;">
                        <img class="card-img-top" src="{{ master.photo }}" alt="Фото мастера"
                             style="object-fit:cover; width:25rem; height:25rem;"
                             onclick="window.location.href = '{% url 'haircut_detail' haircut.pk %}'">
                        <div class="card-body" style="width:25rem;">
                            <h3 class="card-title">{{ master.user.first_name }} {{ master.user.last_name }}</h3>
                            <p class="card-text">{{ master.description }}</p>
                            <a href="{% url 'master_detail' haircut.pk %}" class="btn btn-primary">Посмотреть</a>
                            <a href="{% url 'master_detail' haircut.pk %}" class="btn btn-success">Записаться</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock content %}
</body>
</html>