<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удалить заказ</title>
</head>
<body>
{% extends 'base.html' %}
    {% block content %}
        {% if user.is_superuser %}
            <h1>Удалить запись на стрижку?</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-danger" type="submit" value="Удалить" />
                </form>
        {% else %}
            <h1>Вы не можете удалить заказ</h1>
            <a href="{% url 'home' %}" class="btn btn-secondary">Вернуться обратно</a>
        {% endif %}
    {% endblock content %}
</body>
</html>