<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
</head>
<body>
    {% extends 'base.html' %}
        {% block content %}
            <h1 class="display-4 text-center m-4">Список заказов</h1>
            {% if user.is_superuser %}
                {% for appointment in object_list %}
                    <div class="jumbotron">
                        <h5>Мастер - <a href="{% url 'master_detail' appointment.master.pk %}">{{ appointment.master.user.first_name }} {{ appointment.master.user.last_name }}</a></h5>
                        <h5>Стрижка - <a href="{% url 'haircut_detail' appointment.haircut.pk %}">{{ appointment.haircut.title }}</a></h5>
                        <h5>Заказчик - {{ appointment.user.first_name }} {{ appointment.user.last_name }}</h5>
                        <h5>Время записи - {{ appointment.start_time }}</h5>

                        <a href="{% url 'appointment_edit' appointment.pk %}" class="btn btn-warning">Изменить</a>
                        <a href="{% url 'appointment_delete' appointment.pk %}" class="btn btn-danger">Удалить</a>
                    </div>
                {% endfor %}
            {% else %}
                <h1>Вы не можете посмотреть список заказов</h1>
                <a href="{% url 'home' %}" class="btn btn-secondary">Вернуться обратно</a>
            {% endif %}
        {% endblock content %}
</body>
</html>