{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<p class="fw-bold fs-1">Работаем так, чтобы клиенту было выгодно и удобно!</p>
<p class="fst-italic fs-4">
    Наш опыт позволяет предоставлять клиентам высокий уровень обслуживания при минимальных
    финансовых затратах и оперативно выполнять необходимые процедуры во время организации похорон.
</p>
<br>
<br>

<p class="fw-normal fs-5">
    Центральный офис компании расположен по улице Крауля, дом 10
</p>
<p class="fw-bold fs-5">
    Телефон: <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a>
</p>
<p class="fw-normal fs-5">
    Режим работы – круглосуточный
</p>
<p class="fw-bold fs-5">
    Почта: <a href="mailto:info@lastpath.ru" class="text-decoration-none">info@lastpath.ru</a>
</p>
<p class="fw-normal fs-5">
    Городское похоронное бюро Последний путь – это качество услуг по низким ценам
</p>
<p class="fw-normal fs-5">
    Мы решим все ваши задачи и проведем достойные похороны!
</p>

{% endblock content %}