{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<p class="fw-bold fs-1">С чего начать организацию похорон?</p>
<p class="fw-normal fs-5">
    Со звонка в <b>Ритуальную службу Последний путь по номеру
    <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a>.</b>
    Наш агент, который прибудет по указанному Вами адресу, сам позвонит в службу скорой
    медицинской помощи, сообщит о случившемся и вызовет полицию. Вы можете звонить в наше
    похоронное бюро в любое время дня и ночи, потому что мы работаем круглосуточно.
</p>
<p class="fw-normal fs-5">
    Заключив договор на оказание ритуальных услуг с Ритуальную службу Последний путь,
    вы можете получить ответы на все ваши вопросы. Наш агент окажет все услуги:
    <ul>
        <li class="fst-italic fs-5">Проконсультирует вас</li>
        <li class="fst-italic fs-5">Оформит необходимые документы</li>
        <li class="fst-italic fs-5">Закажет вместе с вами ритуальные принадлежности</li>
        <li class="fst-italic fs-5">Подготовит церемонию прощания</li>
        <li class="fst-italic fs-5">Закажет ритуальный транспорт</li>
        <li class="fst-italic fs-5">Закажет панихиду</li>
        <li class="fst-italic fs-5">Похороны или кремацию тела</li>
        <li class="fst-italic fs-5">Поминовение покойного</li>
    </ul>
</p>
<br>
<p class="fw-bold fs-2">
    Нам известны все ситуации ритуального бизнеса - вот один из них:
</p>
<iframe title="Правда о вымогательствах на кладбищах" width="1280" height="500" class="d-flex justify-content-center"
        src="https://www.youtube.com/embed/nVYCtRyWCpY?feature=oembed" frameborder="0" style="display: block; margin: 0 auto;"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
</iframe>
<br>
<p class="fw-normal fs-5">
    Мы защитим вас от любых схем обмана и вымогательства на всех этапах похорон.
    Мы работаем ежедневно и круглосуточно – без сбоев и отказов.
</p>

{% endblock content %}