{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<p class="fst-italic fs-5">
  По любому вопросу относительно кремации и похорон вы можете позвонить по номеру
  <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a>.
  Наш агент в любое время суток прибудет к Вам на дом или по указанному Вами адресу.
  Он проконсультирует относительно всех услуг, которые оказывает похоронное
  агентство, в том числе и по кремации тела покойного.
</p>
<p class="fst-italic fs-5">
  В последние десятилетия люди все чаще решают провести кремацию тела покойного.
  Это удобный, быстрый и экономичный способ организовать похороны и захоронить
  прах покойного в родственную могилу или ячейку колумбария.
</p>

<div id="carouselCremation" class="carousel slide mx-auto" data-ride="carousel" style="float:center; width:800px; height:600px;">
    <ol class="carousel-indicators">
        <li data-target="#carouselCremation" data-slide-to="0" class="active"></li>
        <li data-target="#carouselCremation" data-slide-to="1" class="active"></li>
        <li data-target="#carouselCremation" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="card-img-top" src="{% static '/cremation1.jpg' %}" alt="Изображение парикмахерской 1"
                 style="object-fit:cover; width:800px; height:600px;">
        </div>
        <div class="carousel-item">
            <img class="card-img-top" src="{% static '/cremation2.jpg' %}" alt="Изображение парикмахерской 3"
                 style="object-fit:cover; width:800px; height:600px;">
        </div>
        <div class="carousel-item">
            <img class="card-img-top" src="{% static '/cremation3.jpg' %}" alt="Изображение парикмахерской 3"
                 style="object-fit:cover; width:800px; height:600px;">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselCremation" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselCremation" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>

<br>
<br>
<p class="fw-bold fs-1">Преимущества кремации</p>
<p class="fw-normal fs-5">
    Одним из главных преимуществ кремации является то, что захоронить урну с прахом в
    родственную могилу (а так происходит при большинстве погребений) можно в любой момент.
    А вот гроб в родственную могилу из-за санитарного срока можно захоронить только
    через 20 лет после последнего захоронения гробом.
</p>
<p class="fw-normal fs-5">
    При захоронении урны в родственную могилу снимается проблема санитарного срока
    для будущих подзахоронений гробом, так как санитарного срока в этом случае нет.
    И расходы на подзахоронение меньше, чем на копку могилы.
</p>
<p class="fw-normal fs-5">
    Если Вы решили кремировать тело покойного, то Вам не придется покупать
    семейно-родовой участок или нишу в колумбарии. И расходы на содержание ячейки
    колумбария значительно меньше, чем на благоустройство могилы.
</p>
<p class="fw-normal fs-5">
    У Вас будет меньше проблем и затрат в случае перевозки для захоронения на расстояние груза 200.
</p>
<p class="fw-normal fs-5">
    Не лишне напомнить, что прах можно разделить на части, хранить в разных
    местах или развеять, если возникнет такая необходимость или желание родственников.
</p>

<br>
<br>
<p class="fw-bold fs-1">Как происходит процедура кремации</p>
<p class="fst-italic fs-4">
    Вам предстоит собрать необходимые документы, которые должны быть предоставлены в день кремации.
</p>
<p class="fw-normal fs-5">
    Свидетельство о смерти, выданное в ЗАГСе, с гербовой печатью;
</p>
<p class="fw-normal fs-5">
    Копию медицинской справки о причинах летального исхода;
</p>
<p class="fw-normal fs-5">
    Паспорт ответственного лица или человека, который будет забирать урну с прахом;
</p>
<p class="fw-normal fs-5">
    Сотрудники крематория могут запросить справку из полиции о допустимости проведения обряда сожжения.
</p>
<p class="fw-bold fs-5">
    Далее вам предстоит:
</p>
<p class="fw-normal fs-5">
    Уточнить время и план церемонии, оплатить услуги.
</p>
<p class="fw-normal fs-5">
    Приобрести сопутствующие ритуальные товары, ведь обряд сожжения требует обязательного наличия гроба.
</p>
<p class="fw-normal fs-5">
    Доставить умершего в морг крематория.
</p>
<p class="fw-normal fs-5">
    Провести прощание с усопшим. Кремация может проводиться как в
    отсутствие родственников, так и с прощальной церемонией.
</p>
<p class="fw-normal fs-5">
    Пройти процедуру кремации. Как правило, близкие присутствуют на первых минутах церемонии погружения гроба в печь.
</p>
<p class="fw-bold fs-5">
    Чтобы получить урну с прахом, Вам надо предоставить:
</p>
<p class="fw-normal fs-5">
    Свидетельство о смерти, выданное в ЗАГСе, с гербовой печатью;
</p>
<p class="fw-normal fs-5">
    Справку о кремации;
</p>
<p class="fw-normal fs-5">
    Паспорт ответственного лица или человека, который будет забирать урну с прахом.
</p>

<br>
<p class="fw-normal fs-5">
    Этих хлопот вы можете избежать и достойно проститься с усопшим, если позвоните по номеру
    <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a>.
</p>
<p class="fw-normal fs-5">
    <a style="color: #FF0000">ВНИМАНИЕ!</a> Если ритуальный агент появился в вашей квартире
    без вашего предварительного вызова, необходимо обратиться в полицию по телефону "02" или «112»
    при звонке с мобильного телефона. Данные действия попадают под статью 137 УК РФ и
    наказываются лишением свободы сроком до двух лет.
</p>
<br>

{% endblock content %}