{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<p class="jumbotron fw-normal fs-5">
    Каждый хочет, чтобы его достойно проводили в последний путь. Избежать смерти невозможно,
    потому что это тоже часть жизни. И лучший способ организовать все, как вы считаете должным,
    — самому распорядиться собственными похоронами или попросить близких провести ритуал по вашему желанию.
</p>

<p class="fw-bold fs-1">Что такое прижизненный договор на оказание ритуальных услуг?</p>
<p class="fw-normal fs-5">
    Это документ, заключаемый между похоронным агентством и физическим лицом.
</p>
<p class="fw-normal fs-5">
    В нем указан перечень услуг, согласованы ритуальные принадлежности, вид и маршрут
    транспорта и прочие детали вплоть до фото- и видеосъемки, которые агентство
    гарантированно без каких-либо доплат предоставит в случае ухода из жизни заказчика или третьего лица.
</p>
<br>
<p class="fw-normal fs-5">
    В договоре можно предусмотреть:
</p>
<ul>
    <li class="fw-normal fs-5">Получение необходимых для организации похорон документов.</li>
    <li class="fw-normal fs-5">Осуществление комплекса мероприятий по подготовке тела к погребению.</li>
    <li class="fw-normal fs-5">Приобретение предметов ритуала.</li>
    <li class="fw-normal fs-5">Катафалк и транспортные перевозки.</li>
    <li class="fw-normal fs-5">Осуществление захоронения.</li>
    <li class="fw-normal fs-5">Услуги организатора ритуала похорон.</li>
    <li class="fw-normal fs-5">Выполнение прочих услуг, связанных с погребением.</li>
    <li class="fw-normal fs-5">Организацию и проведение церемонии проводов покойного.</li>
    <li class="fw-normal fs-5">Сопровождение процессии до места погребения.</li>
    <li class="fw-normal fs-5">Получение свидетельства о смерти, выдаваемого органами ЗАГСа.</li>
</ul>
<p class="fw-normal fs-5">
    По желанию заказчика наш агент может сопровождать весь похоронный обряд вплоть до
    погребения покойного. Также можем оказать содействие в заключение договора на
    изготовление и установку памятника или иного надмогильного сооружения и последующий уход за ним.
</p>
<p class="fw-normal fs-5">
    Чаще всего договор заключают на себя или на близкого родственника. Прижизненный договор на
    погребение является бессрочным, а стоимость определяется выбранным пакетом услуг.
</p>

<br>
<br>
<br>
<p class="fw-bold fs-1">Кому может быть интересно заключение прижизненного договора?</p>
<ul>
    <li class="fw-normal fs-5">людям пенсионного возраста – «бабушкам и дедушкам»;</li>
    <li class="fw-normal fs-5">тяжело и смертельно больные людям;</li>
    <li class="fw-normal fs-5">людям, чья профессиональная деятельность сопряжена с риском для жизни;</li>
    <li class="fw-normal fs-5">одиноким людям.</li>
</ul>
<p class="fw-normal fs-5">
    Похороны — это не только горечь утраты, но и серьезные финансовые затраты.
    Беспокойство может быть связано и с тем, хватит ли собранных денег на похороны,
    будут ли в состоянии близкие достойно похоронить, кто будет хоронить, кому доверить погребение.
</p>
<p class="fw-normal fs-5">
    В настоящее время есть реальная возможность заранее освободить своих близких от хлопот,
    связанных с организацией похорон. Заключив прижизненный договор с нами, вы можете
    быть уверены в том, что все тонкости ритуала будут соблюдены.
</p>
<p class="fw-normal fs-5">
    Более подробно узнать детали и условия составления договора вы можете по номеру телефона:
    <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a>.
</p>
<br>

{% endblock content %}