{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<p class="fw-bold fs-1">Организация похорон в Екатеринбурге - частное городское ритуальное агенство Последний путь</p>

<p class="fst-italic fs-4">
    Мы работаем для живых, скорбя с Вами об ушедших.
    Широкий выбор ритуальных услуг и товаров для всех категорий граждан.
</p>
<p class="fw-normal fs-5">
    Частное городское ритуальное агенство Последний путь поможет Вам достойно провести
    погребение и траурную церемонию по поводу потери близкого человека. На нашем сайте вы найдете всю
    официальную информацию о похоронном сервисе. Наши сотрудники возьмут на себя все хлопоты по
    организации похорон, проведут их максимально оперативно и с предельной тактичностью к вашему горю.
</p>
<p class="fw-normal fs-5">
    Наше агентство предлагает широкий спектр ритуальных услуг, основная задача которых — облегчить вашу
    боль от утраты и освободить время, которое Вы можете потратить на самое главное — прощание с близким человеком.
</p>

<br>
<div class="jumbotron">
    <a class="btn btn-primary btn-lg" style="float: right;" href="{% url 'base:if_close_man_dead' %}">Порядок действий...</a>
    <p class="fw-normal fs-4">Умер близкий человек: что делать?</p>
</div>
<br>
<div class="jumbotron">
    <a class="btn btn-primary btn-lg" style="float: right;" href="{% url 'base:funeral_arrangements' %}">Подробнее...</a>
    <p class="fw-normal fs-4">Захоронение: организация похорон</p>
</div>
<br>
<div class="jumbotron">
    <a class="btn btn-primary btn-lg" style="float: right;" href="{% url 'base:funeral_cremation' %}">Подробнее...</a>
    <p class="fw-normal fs-4">Кремация: как происходит процесс кремации</p>
</div>
<br>
<br>
<h2 class="fw-bold fs-1" style="color: #FF0000;">ВНИМАНИЕ!!!</h2>
<div class="fw-normal fs-5" style="color: #FF0000;">
    Граждане, никогда не заказывайте копку могил напрямую на кладбищах города Екатеринбурга!
    С Вас будут вымогать деньги за свои услуги "черные могильщики", они же являются должностными лицами,
    то есть работниками кладбищ, заведующими либо бригадирами. Посмотрите видеоматериалы об их незаконной
    деятельности, а также о чиновниках, которые прикрывают эту криминальную деятельность. За место на кладбище
    они вымогают в среднем от 50 до 200 тысяч рублей, хотя земля согласно
    <a href="https://www.consultant.ru/document/cons_doc_LAW_8919/e15e41a26e8ca31d91ca328f8b2f9eb19327816e/">Федеральному закону "О погребении"</a>
    выделяется бесплатно.
</div>

<br>
<br>
<iframe title="Правда о вымогательствах на кладбищах" width="1280" height="500" class="d-flex justify-content-center"
        src="https://www.youtube.com/embed/CzmOiprKaaw?feature=oembed" frameborder="0" style="display: block; margin: 0 auto;"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
</iframe>
<br>
<br>

<p class="fw-bold fs-1">Почему выбирают именно наше ритуальное агенство</p>

<p class="fw-normal fs-5">
    Любой выбранный вами ритуальный агент нашей службы – проверенный специалист высокого класса,
    понимающий, что похороны – это святая традиция на вечную память об усопшем и в утешение живых.
</p>
<p class="fw-normal fs-5">
    Наши ритуальные агенты избавят близких покойного от стресса и рутинных забот в минуты скорби.
</p>
<p class="fw-normal fs-5">
    Нам известны все ситуации ритуального бизнеса: Последний путь защитит вас от любых схем обмана
    и вымогательства на всех этапах похорон. Мы работаем ежедневно – без сбоев и отказов.
</p>

{% endblock content %}