{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<p class="fw-bold fs-1">Умер близкий человек: что делать дальше?</p>
<p class="fst-italic fs-4">
  Порядок действий
</p>
<p class="fw-normal fs-5">
  Известие о смерти любого человека словно оглушает нас, особенно тяжело собраться с мыслями
  и начать действовать, когда умер родной и близкий человек. Мы расскажем Вам, что пошагово
  делать в этой трагической ситуации. Следуя нашей инструкции, Вы сможете избежать многих
  досадных ошибок и сэкономить силы и средства.
</p>

<br>
<br>
<p class="fw-bold fs-1">Человек умер на работе или в общественном месте</p>
<p class="fw-normal fs-5">
  Причиной смерти человека на рабочем месте может стать и хроническое заболевание, и
  чрезвычайная ситуация. Если Вы обнаружили Вашего сотрудника мертвым, следует:
</p>
<ul>
  <li class="fw-normal fs-5">Позвонить по номеру <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a>
    и наш агент сам позвонит в службу скорой медицинской помощи, сообщит о случившемся и вызовет полицию. </li>
  <li class="fw-normal fs-5">Оповестить руководство организации, в которой Вы работаете, и родственников умершего.</li>
  <li class="fw-normal fs-5">Дождаться представителей вызванных служб и подробно ответить на их вопросы.</li>
  <li class="fw-normal fs-5">Не трогать тело и ничего не менять на месте происшествия.</li>
</ul>

<br>
<br>
<p class="fw-bold fs-1">Человек умер у себя в квартире (дома)</p>
<p class="fw-normal fs-5">
  При очевидных признаках смерти Вашего родственника и близкого человека вам следует
  <b>позвонить по номеру <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a></b>
  и сообщить о случившемся. Это позволит Вам избежать продажи информации от недобросовестных
  сотрудников полиции и скорой помощи «черным агентам». Вам не нужно звонить 03 и 02, наш
  сотрудник прибудет и сам оповестит всех, кого требуется. Мы работаем круглосуточно.
</p>
<p class="fw-normal fs-5">
  Запишите контактные данные нашего ритуального агента и номер его удостоверения. Только так
  вы будете уверены, что к Вам не пожалуют посторонние люди, желающие нажиться на Вашем горе.
</p>
<p class="jumbotron fw-normal fs-5">
  Выключите телефон, по которому совершали звонки. Можете отключить и стационарный аппарат. Все ответы
  вы предоставите санитарам и полиции лично, а лишние разговоры в такой ситуации Вас будут попросту отвлекать.
</p>
<p class="fst-italic fs-5">
  Рекомендуем понизить температуру в помещении, где находится тело. Летом для этого включают
  кондиционер, а зимой отключают электрообогреватели и открывают окна. Почившего накройте простынёй.
</p>
<p class="fw-normal fs-5">
  Подготовьте необходимые документы:
</p>
<ul>
  <li class="fw-normal fs-5">Паспорт – свой и усопшего,</li>
  <li class="fw-normal fs-5">Амбулаторную карту усопшего,</li>
  <li class="fw-normal fs-5">Страховой полис усопшего (при наличии).</li>
  <li class="fw-normal fs-5">Пенсионное или инвалидное удостоверение,
    если почивший относился к данным социальным группам.</li>
</ul>
<p class="jumbotron fw-normal fs-5">
  Документы держите при себе. Давайте их посмотреть только для ознакомления
</p>
<p class="fw-normal fs-5">
  Когда прибудут вызванные Вами медики, полиция и сотрудники нашего агентства,
  подробно опишите им обстоятельства, при которых человек умер у себя дома.
  Не забудьте проверить у них документы. Запомните, что Вы не должны пускать никого, кто прибыл не по Вашему вызову.
</p>
<p class="fw-normal fs-5">
  После составления протоколов тело переносят в машину скорой помощи для дальнейшей перевозки в морг.
  Согласно законодательству данная услуга бесплатна. Обязательно спросите, в какое танатологическое
  отделение повезут тело. Уточните телефоны, месторасположение и часы работы медицинского заведения.
</p>

<br>
<br>
<p class="fw-bold fs-1">Если человек умер в больнице</p>
<p class="fw-normal fs-5">
  Если близкий Вам человек находился на лечении в стационаре или попал туда в результате ЧП,
  родных извещают о летальном исходе по телефону или при очередном визите. Поверьте, врачи всегда
  заинтересованы в том, чтобы пациент выжил, и делают для этого все возможное. Однако если смерть
  настигла его, Вам следует обратиться к лечащему доктору за информацией и узнать:
</p>
<ul>
  <li class="fw-normal fs-5">в какой морг перевезено тело,</li>
  <li class="fw-normal fs-5">когда следует прийти за медицинской справкой о смерти.</li>
</ul>
<p class="jumbotron fw-normal fs-5">
  Важно знать! Если Ваш родственник длительное время находился в лечебном учреждении
  и ему были сделаны все анализы, Вы имеете право написать заявление об отказе от вскрытия тела.
  Однако если он был в стационаре менее 24-х часов, в этой просьбе Вам будет отказано.
</p>
<p class="fw-normal fs-5">
  Напоминаем: перевозка тела из стационара в морг бесплатна
</p>

<br>
<br>
<p class="fw-bold fs-1">Человек умер. Чего нельзя делать:</p>
<ul>
  <li class="fw-normal fs-5">Пускать на порог посторонних. Обязательно попросите предъявить документы всех,
    кто к вам стремится попасть в дом. Если вы не вызывали страхового агента, а он пришёл – откажите ему.</li>
  <li class="fw-normal fs-5">Отвечать на телефонные звонки от неизвестных абонентов. Люди, потерявшие близкого,
    становятся уязвимыми. Этим часто пользуются аферисты, суля свою помощь в обмен на значительное вознаграждение.</li>
  <li class="fw-normal fs-5">Верить неизвестным на слово. Опытному мошеннику легко уговорить испытывающего
    стресс человека. В итоге озвученные «минимальные цены» ко дню похорон часто возрастают в 2-3 раза.</li>
  <li class="fw-normal fs-5">Передавать паспорт покойного, медицинскую справку или гербовое свидетельство о смерти другим лицам.</li>
</ul>

{% endblock content %}