{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<p class="fw-bold fs-1">Кладбища Екатеринбурга</p>
<p class="fw-normal fs-5">
  В городе Екатеринбурге находится более 20 кладбищ, однако, на данный момент большинство
  из них доступно только для родственных захоронений (погребение умершего человека в могилу,
  где ранее производилось захоронение его родственников).
</p>
<iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=false&amp;um=constructor%3A7dd02b2689049f840176ebfe49cf3e91c4cabb5d93953fd50d925758d8cf0c3d"
        frameborder="0" allowfullscreen="true" width="100%" height="720px" style="display: block;"></iframe>

<br>
<p class="fw-bold fs-1">Колумбарии в Екатеринбурге</p>
<p class="fw-normal fs-5">
  Колумбарии предназначены для размещения и хранения урн с прахом. Они могут быть открытыми,
  то есть располагаться на территории кладбища под открытым небом. Могут находиться в помещении,
  и это закрытый вариант. А также могут иметь кольцевую структуру и представлять собой саркофаг.
</p>
<p class="fw-normal fs-5">
  В Екатеринбурге все колумбарии открытого типа, ниши в стене расположены в четыре ряда в высоту.
  На пяти городских кладбищах – Восточном, Западном, Михайловском, Нижне-Исетском и Сибирском –
  установлены колумбарные стены. Колумбарии в Екатеринбурге могут в дальнейшем разместиться и
  на других городских некрополях.
</p>

<br>
<p class="fw-bold fs-1">Крематорий Екатеринбурга</p>
<p class="fw-normal fs-5">
  Греки считали что сжигание поможем усопшему в загробном мире, затем эта традиция перенеслась в Древний Рим.
  Еще в те времена кремированные останки стали хоронить в особых местах под названием "колумбарий".
</p>
<p class="fw-normal fs-5">
  Кремация особо популярна в странах с высокой плотностью населения, так как позволяет в два раза сократить площадь для погребения.
</p>
<p class="fw-normal fs-5">
  В Христианской Европе такой метод был весьма распространен со второй половины XIX века, уже в
  это время было придумано специальное заведение, где происходили процессы придания огню тела усопшего.
</p>
<p class="fw-normal fs-5">
  В России же первый крематорий был построен в 1917 году в городе Владивосток. Однако, из-за религиозных
  особенностей востребованности в его услугах не было. Сегодня крематории есть в 12 крупных городах России.
  Последнее время идеи предания тела огню находят все больше сторонников в мире.
</p>
<p class="fw-normal fs-5">
  В нашем городе Крематорий был построен и начал свою работу в декабре 1982 года. При этом в
  настоящее время в нашем городе все больше людей пользуются услугами крематория: в 2004 году
  процент кремации составлял 40 %, а уже в 2012 году он возрос до 63 %.
</p>
<p class="fw-bold fs-2">
  Адрес крематория: Сибирский тракт, 10-й километр, 1/1.
</p>

<br>
<p class="fw-bold fs-1">Морги в Екатеринбурге</p>
<p class="fw-normal fs-5">
  Если тело умершего не имеет признаков врачебной ошибки или подозрений на насильственную смерть,
  то оно поступает в морги Екатеринбурга при учреждениях здравоохранения.
</p>
<p class="fw-normal fs-5">
  Тела скончавшихся при обстоятельствах, которые не исключают насильственную смерть,
  а также смерть в результате неправильных действий медперсонала, принимают в судебно-медицинские
  морги города. Сюда же поступают тела тех, кто скончался на улице или в других общественных местах.
</p>
<p class="fw-normal fs-5">
  Когда люди говорят, что были в морге и имеют к нему претензии, то необходимо
  уточнять, о каком конкретно заведении и о какой службе идет речь.
</p>
<p class="fw-normal fs-5">
  Звоните по номеру <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a>,
  наши сотрудники возьмут на себя все хлопоты по захоронению и проведению ритуальных мероприятий.
  Это позволит Вам достойно проститься с усопшим и избежать проблем.
</p>
<p class="fw-normal fs-5">
  Мы работаем круглосуточно и без выходных.
</p>

<br>
<p class="fw-bold fs-1">Траурные залы в Екатеринбурге</p>
<p class="fw-normal fs-5">
  Мы предоставляем эффективную помощь в организации похорон. Позвонив по телефону
  <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a>,
  вы можете задать нашему агенту любой вопрос и заказать ритуал прощания с покойным.
  Агентство ritual66 предоставляет весь спектр товаров и услуг для проведения похорон
  любого уровня, в том числе ритуал гражданской и православной панихиды.
</p>
<p class="fw-normal fs-5">
  В условиях современного города этот ритуал удобнее проводить в специально подготовленных
  для этого помещениях – траурных залах. Они вмещают достаточно большое число людей,
  расположены в каждом районе, в шаговой доступности от общественного транспорта.
  Провести прощание на таком уровне в небольших квартирах бывает крайне сложно.
</p>

{% endblock content %}