{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<p class="fw-bold fs-1">Оформление документов для погребения</p>
<p class="fw-normal fs-5">
  По любому вопросу относительно похорон вы можете позвонить по номеру
  <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a>.
  Наш агент в любое время суток прибудет к Вам на дом или по указанному Вами адресу.
  Он проконсультирует относительно всех услуг, которые оказывает похоронное агентство и
  оформит все документы, которые требуются для захоронения или транспортировки покойного.
</p>
<p class="fw-normal fs-5">
  Понятно, что для организации похорон, кремации или перезахоронения требуются определенные документы.
  Но люди, как правило, даже не предполагают, какие это документы и где их получать. Справки, разрешения,
  свидетельства выдаются в разных организациях, например, для эксгумации необходимо разрешение полиции.
  Близкие покойного часто не знают, в какую инстанцию обращаться, а обратившись, тратят время в очередях.
  Наше похоронное бюро предлагает вам помощь специалистов, наши агенты все хлопоты берут на себя,
  они получат необходимые разрешения и справки у сотрудников организаций.
</p>
<p class="fw-normal fs-5">
  Звоните на городской номер <a href="tel:+79221493200" class="text-decoration-none">+7 (922) 149-32-00</a>.
  Работаем круглосуточно.
</p>
<p class="fw-normal fs-5">
  Не всегда представители ЗАГСа, полиции, СЭС понимают ваше состояние. К сожалению, некоторые из чиновников
  могут обмануть Вас и взять дополнительные деньги. Похоронный агент знает все правила, согласно которым
  выдаются документы. Работа представителя похоронного бюро позволит Вам сэкономить время и средства, сохранив
  спокойствие. Воспользуйтесь услугами ритуального агента.
</p>

<br>
<br>
<p class="fw-bold fs-1">Какие документы требуются в зависимости от ситуации</p>
<p class="fw-normal fs-5">
  Для похорон или кремации – свидетельство и справка о смерти. Если вследствие смерти производилось
  уголовное расследование, то потребуется разрешение от внутренних органов для проведения кремации.
</p>
<p class="fw-normal fs-5">
  Для перевозки груза 200 – свидетельство и справка о смерти, справка о невложении,
  разрешение СЭС. При транспортировке груза 200 в другую страну необходимы разрешение
  принимающей страны и свидетельство о смерти на иностранном языке.
</p>
<p class="fw-normal fs-5">
  Для перезахоронения – разрешающий документ на проведение эксгумации, свидетельство о том, что есть
  место для перезахоронения, разрешающий документ санитарно-эпидемиологической службы, паспорт захоронения.
</p>

<br>
<br>
<p class="fw-normal fs-5">
  Нам известны все ситуации ритуального бизнеса: ritual66 защитит вас от любых схем обмана и
  вымогательства на всех этапах похорон. Мы работаем ежедневно и круглосуточно – без сбоев и отказов.
</p>
<br>

{% endblock content %}