{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h2>Мы магазин футболок CHIMPAS - это магазин прикольных футболок, маек и толстовкок.</h2>
<h6>Футболки CHIMPAS отличаются не только оригинальным дизайном, но и отличным качеством.</h6>
<h6>Все футболки изготавливаются из высококачественных материалов и имеют длительный срок службы.</h6>
<h6>В нашем магазине представлены футболки на все случаи жизни.</h6>
<h6>Вы можете выбрать футболку для повседневной носки, футболку для занятий спортом, футболку на каждый день, футболку-поло, футболки для девушек, подростков и детей.</h6> <br>
         <img height="450px" width="400px" src="{% static '/images/tishki.jpg/' %}">
        <img height="420px" width="350px" src="{% static '/images/tishki 2.png/' %}">
        <img height="450px" width="400px" src="{% static '/images/magaz.jpg/' %}">
    </div>
</body>
</html>
{% endblock content %}